main {
    padding:25px 0px;
}
footer {
    background-color:#05AFF2;
    padding:25px 25px;
}
footer a {
    color:#FFFFFF;
}
footer a:hover {
    color:#005197;
    text-decoration:none;
} 
main h3 {
    color:#0468BF;
}
footer h5 {
    margin-top:30px; 
    margin-bottom:15px;
    font-weight: bold; 
    font-size: 1em;
    text-transform: uppercase;
    color:#005197;
}
footer p {
    font-size: 1em;
    color:#FFFFFF;
}
h3 {
    margin-bottom: 25px;
}
.jumbotron {
    background-color:#0468BF;
    margin-top:50px;
}
.jumbotron h1 {
    color:#FFFFFF;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
.card-hotel {
    flex:1 250px;
    margin:15px 10px;
}
.card-hotel h5 {
    font-size:1.2em;
    font-weight: bold;
    color:#0468BF;
    height: 35px;
}
.card-hotel h6 {
    text-transform:uppercase;
    margin-bottom:10px;
} 
.btn-reserva {
    width:100%;
    background-color: #049DBF;
    border-color: #049DBF;
    font-size:0.75em;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-reserva:hover {
    background-color: #0468BF;
    border-color: #0468BF;
}
.columnas-footer {
    flex:1 350px;
    margin:0px 15px;
}
.container-space-top {
    margin-top: 50px;
}
.breadcrumb-item a {
    color: gray;
}
.card-body {
    background-color:#fdfdfd ;
}
.imagen-seccion {
    margin:20px 0px;
}
.tab-content {
    padding-top: 35px;
}
.botones-inicio {
    width:80%;
    align-self: center;
}
.collapse {
    padding:15px 35px;
}

.boletin {
    margin:0px;
    background-color: #c2c2c2;
    border-radius: 0px;
    padding:35px 35px;
}
.carousel {
    margin-top:15px;
    margin-bottom:15px;
}